*{
    padding: 0;
    margin: 0;
    /* outline: 3px solid pink; */
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.container{
    background-color:hsl(204.78deg 79.31% 11.37%);
    width: 970px;
    min-height: 800px;
    padding: 10px 10px 5px 10px;
}
header{
    margin: 0 auto;
    width: 960px;
    min-height: 60px;
    color: white;
}
header h1{
    display: inline-block;
    width: 350px;
    position: relative;
    top: 10px;
    left: 20px;
    vertical-align: middle;
    font-weight: 100;
    font-family: sans-serif;

}
header span{
color:hsl(203.05deg 79.61% 50%) ;
}
nav{
    display: inline-block;
    width: 550px;
    position: relative;
    top: 20px;
    left: 60px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul a{
    font-size: 15px;
    margin-left: 10px;
    font-family: sans-serif;

}
nav ul li:first-child{
    color: hsl(205.53deg 47% 39.22%);
}
.hero{
    background-color:hsl(0deg 0% 100%);
    width: 940px;
    min-height: 300px;
    padding: 10px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.hero img{
    width: 930px;
}
.articles{
    background-color:hsl(0deg 0% 100%);
    width: 930px;
    min-height: 250px;
    padding: 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;

}
article{
    background-color: hsl(205.95deg 78.72% 36.86%);
    width: 270px;
    min-height: 100px;
    color: white;
    padding: 10px;
}
article img{
    width: 30px;
    /* background-color: hsl(205.95deg 78.72% 36.86%); */
    filter: contrast(100%) brightness(50%);
    display: inline-block;
    position: relative;
    top: 13px;
    left: 10px;
}
article h2{
    display: inline-block;
    position: relative;
    top: 5px;
    left: 15px;
    font-weight: 100;
}
article p{
    display: inline-block;
    position: relative;
    top: 25px;
    width: 240px;
    left: 10px;
    font-size: 13px;
}
article button{
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    top: 50px;
    left: 10px;
    background-image: linear-gradient(hsl(203.33deg 81.82% 65.49%), hsl(203, 90%, 32%));
}
.about{
    background-color:hsl(0deg 0% 100%);
    width: 940px;
    margin: 0 auto;
    padding: 10px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 300px;
}
.box1 h2{
    font-family: sans-serif;
    width: 300px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: 400;
    height: 30px;
    padding-bottom: 5px;
}
.box1 img{
    width: 300px;
    height: 200px;
}
.box2{
    width: 300px;
    padding: 10px;
    font-family: sans-serif;

}
.box2 p{
    margin: 20px 0;
    text-align: left;
    font-size: 15px;
    width: 300px;
}
.box2 :last-child{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #6e97b5;
}
.box3{
    width: 300px;
    font-family: sans-serif;
}
.box3 h2{
    width: 300px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 10px;
}
.box3 p{
    background-color: hsl(209.19deg 100% 92.75%);
    margin-top: 0;
    margin-bottom: 20px;
    padding: 30px 20px;

    height: 100px;
}
.box3 :last-child{
    background-color: white;
    padding: 0;
    margin-top: 10px;

    height: 20px;
}
footer{
    background-color: hsl(209.19deg 100% 92.75%);
    width: 940px;
    padding: 10px;
    margin: 2px auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(205.33deg 36.89% 47.84%);
}
footer a:first-child{
    color: hsl(206.09deg 74.19% 81.76%);
}
footer a{
    margin: 0 20px;
    font-size: 15px;
    font-family: sans-serif;
}